body{
    width:100%;
    height:100%;
    margin:0px;
    padding: 0px;
}

.navbar{
    background: #332e2b;
}

.navbar-brand {
    width:200px;
    height:80px;
    filter: invert(100%);
}

.container.header{
    font-family: 'Geo';
    width:100%;
    height:700px;
    margin:0px;
    padding:0px;
    background-image: url("Soen.webp");
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
}

.container.header h1{
    color:#fff;
    font-size: 100px;
    margin-right: 25px;
}
.container.header h4{
    color:#fff;
    font-size: 50px;
    margin-right: 25px;
}

.container{
    min-width: 100%;
    background: #332e2b;
}
.container.cntnr-body{
    margin: 0px;
    padding:0px;
    min-width: 100%;
}

.row{
    margin: 0px;
    padding: 0px;
    color:#fff;
    background: #332e2b;
    text-align: center;
}
.container.cntnr-body.row p{
    font-size: 30px;
    font-family: 'Geo';
    padding: 50px;
}

.card.card-body{
    background:#5c302d ;
}
.card.card-body.card-text{
    font-family: 'Geo';
}

.container.albums h1{
    min-width: 100%;
    color:#fff;
    text-align: center;
    font-family: 'Geo';
    font-size: 75px;
}

.container.messages h1{
    min-width: 100%;
    color:#fff;
    text-align: center;
    font-family: 'Geo';
    font-size: 75px;
}

.container.messages.row{
    min-width: 100%;
}

.msg-form #input{
    width:600px;
    height: 200px;
}

input::placeholder{
    position: fixed;
    font-family: 'Geo';
}

.msgs{
    background: #5c302d;
    width:600px;
    height:400px;
    font-family: 'Geo';
}

h3{
    font-family: 'Geo';
}

ul{
    list-style-type: none;
}