body{
    width:100%;
    height:100%;
    margin:0px;
    padding: 0px;
}

.navbar{
    background: #332e2b;
}

.navbar-brand {
    width:200px;
    height:80px;
    filter: invert(100%);
}

.container.header{
    font-family: 'Geo';
    width:100%;
    height:700px;
    margin:0px;
    padding:0px;
    background-image: url("Soen.webp");
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
}

.container.header h1{
    color:#fff;
    font-size: 100px;
    margin-right: 25px;
}
.container.header h4{
    color:#fff;
    font-size: 50px;
    margin-right: 25px;
}

.container.cntnr-body{
    margin: 0px;
    padding:0px;
    min-width: 100%;
}

.row{
    margin: 0px;
    padding: 0px;
    color:#fff;
    background: #332e2b;
    text-align: center;
}
.row p{
    font-size: 30px;
    font-family: 'Geo';
    padding: 50px;
}